<a href="https://colab.research.google.com/github/fdluiuc/lecture-notebooks/blob/master/000b-colab-data-table-views.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import Pandas and create a data frame.

In [1]:
import pandas as pd
d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d)

Display a data frame via `print()`

In [2]:
print(df)

   col1  col2
0     1     3
1     2     4

Display a data frame using `display()` function for improved formatting.

In [3]:
display(df)

   col1  col2
0     1     3
1     2     4

Automatically display a data frame with interactive filter either with code or by clicking on the magic wand icon:

![Screen Shot 2022-01-19 at 7.10.10 PM.png]()

In [4]:
# Enable interactive explorer
from google.colab import data_table
data_table.enable_dataframe_formatter()

In [5]:
df

   col1  col2
0     1     3
1     2     4

Disable automatic interactive Data Table view

In [6]:
# Disable interactive explorer
from google.colab import data_table
data_table.disable_dataframe_formatter()

In [7]:
df

   col1  col2
0     1     3
1     2     4